.movies-list {
  padding: 70px 70px 0 70px;
}

@media screen and (max-width: 768px) {
  .movies-list {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 320px) {
  .movies-list {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.movies-list__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  grid-template-rows: repeat(auto-fit, 271px);
  column-gap: 24px;
  row-gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .movies-list__items {
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 400px) {
  .movies-list__items {
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 16px;
  }
}

.movies-list__pagination {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.movies-list__button {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  max-width: 320px;
  width: 100%;
  height: 36px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
}

@media screen and (max-width: 320px) {
  .movies-list__button {
    max-width: 240px;
  }
}

.movies-list__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies-list__pagination_hidden {
  display: none;
}

.movies-list__empty {
  display: flex;
  justify-content: center;
}

.movies-list__text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}