.about {
  padding: 110px 70px 100px;
}

@media screen and (max-width: 800px) {
  .about {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 400px) {
  .about {
    padding: 70px 14px;
  }
}

.about__title {
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
  width: 100%;
  border-bottom: 1px solid #000000;
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 400px) {
  .about__title {
    font-size: 18px;
    padding-bottom: 28px;
  }
}

.about__container {
  padding-top: 66px;
  display: grid;
  grid-template-columns: fit-content(600px) fit-content(270px);
  grid-template-rows: repeat(4, max-content);
  justify-content: space-between;
  column-gap: 49px;
}

@media screen and (max-width: 700px) {
  .about__container {
    padding-top: 60px;
    grid-template-columns: none;
    column-gap: 0;
    max-width: 292px;
    width: 100%;
  }
}

.about__name {
  font-size: 50px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 18px;
}

@media screen and (max-width: 800px) {
  .about__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 400px) {
  .about__name {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.about__info {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;  
  margin-bottom: 26px;
}

@media screen and (max-width: 800px) {
  .about__info {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .about__info {
    font-size: 11px;
    line-height: 16px;
  }
}

.about__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .about__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .about__text {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 40px;
  }
}

.about__link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  padding: 0;
  margin: 0;
  align-self: end;
}

.about__link:hover {
  opacity: 0.8;
}

.about__img {
  width: 100%;
  border-radius: 10px;
  grid-column: -1/-2;
  grid-row: 1/5;
}

@media screen and (max-width: 700px) {
  .about__img {
    object-fit: contain;
    margin-bottom: 40px;
  }
}
